.nav{
    margin: 0 auto;
    width: 80%;
    padding-top: 2vh;
    color: #f1faee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSideNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%
}

.register{
    cursor: pointer;
}